
html {
	margin: 0;
	padding: 0;
	font-size: 20px;
}
/*header styles */
.container {
	background: black;
    color: white;
    overflow: hidden;
    border-bottom: 4px solid yellow;
    width: 100%;
}

.title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
}

.title__header {
	line-height: 1.25rem;
	font-size: 1.5rem;
	color: yellow;
	font-family: 'Merriweather', serif;
	text-decoration: none;
	padding: 1rem;
	float: left;
	padding-right: .75rem;
} 

.title__header--column {
	font-size: 1.25rem;
	font-weight: 600;
	font-family: 'Merriweather', serif;
}

.nav__container {
	line-height: 1.25rem;
	width: 30rem;
	/*border: 1px solid white;*/
	float: right;
	padding: .5rem;
}

.clearfix:after {
	content: “ “
	display: block
	clear: both
}

.nav__button {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;
	float: left;
	padding: .75rem;
}
.nav__button:hover {
	color: yellow;
}

.nav__button--diff {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.tagline {
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 1.25rem;
	font-style: italic;
	background: #C6C6C6;
	border-top: 1px solid #AAA;
	max-width: 1280px;
	line-height: 1.25rem;
	margin: 0;
	padding: 1rem;
}

.tagline del {
	color: #999;
}
.tagline ins {
	text-decoration: none;
	border-bottom: 3px solid yellow;
}
section {
	max-width: 1280px;
	height: 5rem;
	background: url (../images/coworking.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.banner {
	width: 20rem;
	height: 5rem;
	/*float: right;*/
	background: rgba(255,255,255,.8);
	padding: 1rem;
	border: 1px solid black;
	float: right;
	clear: right;
}

}
.column {
	padding: 2rem;
	width: 300px;
	height: 500px;
	box-sizing: border-box;
	display: flex;
}
.column-text {
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	align-content: cen;
	float: center;
}
 
.button {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	font-weight: bold;
	background: yellow;
	color: black;
	display: block;
	text-align: center;
	padding: 12px;
	border-radius: 5px;
	text-transform: uppercase;
}

.button__columns {
	background-color: #C6C6C6;
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
.page-footer {
	background-color: black;
	color: white;
	max-width: 1280px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 4rem;
}

/* tk-styles */

.tk-container {
	width: 100%;

	min-height: 50px;
	border: 1px solid black;
}

.tk-container__inner {
	width: 90%;
	max-width: 1296px;
	/* center BLOCK elements */
	margin: 0 auto;

	min-height: 50px;
	background-color: yellow;
}

/* tk-title */
.tk-title {
	width: 40%;
	box-sizing: border-box;
	float: left;
	min-width: 300px;

	min-height: 50px;
	background-color: pink;
}

.tk-nav {
	width: 60%;
	min-width: 96px;
	box-sizing: border-box;
	padding-left: 20px;
	float: right;

	/*min-height: 50px;*/
	background-color: black;
}

.tk-nav__button {
	display: block;
	box-sizing: border-box;
	float: left;
	color: white;
	width: 20%;

	min-height: 50px;
	border: 2px solid green;
}

.clearfix:after {
	content: " ";
	clear: both;
	display: block;
}





















