html {
	margin: 0;
	padding: 0;
}
/*header styles */
.row {
	width: 100%;
	box-sizing: border-box;
}

.row__container {
	width: 100%;
	margin: 0 auto;
	min-height: 50px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	flex-flow: row wrap;

	/*erase blue border after*/
	border: 2px solid blue;
}

.title__header {
	min-width: 400px;
	/*width: 40%; trying flex-grow*/
	background-color: black;
	color: yellow;
	font-size: 30px;
	font-family: 'Merriweather', serif;
	text-decoration: none;
	padding: 20px;

	border: 1px solid red;

} 

.title__header--column {
	font-size: 1.25rem;
	font-weight: 600;
	font-family: 'Merriweather', serif;
}

.nav__container {
	min-width: 400px;
	background-color: black;
	flex-grow: 2;
	padding: 20px;
	border: 1px solid red;
	justify-content: flex-end;
	
}

.nav__button {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	/*float: left;
	align-content: flex-end;*/
	padding: 5px;
	/*padding-top: 10px;*/
}
.nav__button:hover {
	color: yellow;
}

.nav__button--diff {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.tagline {
	font-family: 'Merriweather', serif;
	font-size: 25px;
	font-style: italic;
	background: #C6C6C6;
	border-top: 1px solid #AAA;
	margin: 0;
}

.tagline del {
	color: #999;
}
.tagline ins {
	text-decoration: none;
	border-bottom: 3px solid yellow;
}
.bannerbox {
	background: url (../images/coworking.jpg) center center no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.banner__box {
	border: 1px solid black;
	color: rgba(255,255,255,.8);

}

.title__bannerbox {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	border: 1px solid red;
}

.column {
	padding: 2rem;
	width: 1000px;
	/*height: 500px;*/
	box-sizing: border-box;
	display: flex;

}
.column-text {
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
}
 
.button {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	font-weight: bold;
	background: yellow;
	color: black;
	display: block;
	text-align: center;
	padding: 12px;
	border-radius: 5px;
	text-transform: uppercase;
}

.button__columns {
	background-color: #C6C6C6;
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
.page-footer {
	background-color: black;
	color: white;
	max-width: 1280px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 4rem;
}
/*.clearfix:after {
	content: “ “
	display: block
	clear: both
}
